<%- include('./styles/awarestyle.ejs') %>
<%- include('./partials/header.ejs') %>
<% if (user) { %>
 <%- include('./partials/ret',{retUrl:'/dashboard'}) %>
<% } %>
<main>
    <div class="lessons"> <div class="teach-ill">
    <img src="../images/WhatsApp-Image-2019-05-04-at-8.56.57-AM-1024x768 2.png" alt="" srcset="">
  </div> 
  <article> 
    <h2>METHODS OF WASTE MANAGEMENT</h2>
    <p>Waste management encompasses the practices and
actions necessary to manage waste from its origin to
its final disposal or recovery. Effective waste
management in Kaduna involves a combination of
methods , including reducing waste generation,
reusing materials, recycling, composting, and responsible
disposal in landfills or through incineration, with a focus on
minimizing environmental impact. In simple terms waste
management involves collecting, transporting, processing, and
disposing of waste materials, with a primary goal of minimizing
environmental and health impacts.
Key aspects of waste management include :....
</p> <%- include('./partials/button.ejs') %> </article>
   </div>
   <div class="lessons"> 
    <article> 
    <h2>WASTE COLLECTION AND SORTING</h2>
    <p>Waste collection and sorting involves gathering discarded
materials and then separating them into different
categories to facilitate recycling, reuse, and proper
disposal. This process is crucial for promoting a circular
economy and reducing the environmental impact of
waste. Common categories for waste sorting include paper, cardboard, plastics, glass, metals,
organic waste, and hazardous materials. Waste sorting can be
done manually (e.g., at home) or mechanically (e.g., using
machines at sorting facilities). Sorting waste at the source
(where it's generated) is ideal for promoting recycling and
reducing the need for extensive sorting at a central facility.
...
</p> <%- include('./partials/button.ejs') %>  </article><div class="teach-ill">
   <img src="../images/images (2) 1.png" alt="" srcset="">
  </div>
  </div>
   <div class="lessons"> <div class="teach-ill">
    <img class="thirdimg" src="../images/Recycling-Plant 1.png" alt="" srcset="">
  </div> 
  <article> 
    <h2>WASTE RECYCLING</h2>
    <p>Recycling is the process of converting waste materials
into new materials and objects. it involves collecting 
and processing materials like paper, plastic, and glass to
create new products, reducing waste and environmental
impact. Recycling benefits the environment, the economy, and
the community. Common recyclable materials include paper,
plastic, glass, and metal. The general process involves
collection, processing, and manufacturing new products from
recycled materials. The 5 R's: Before recycling, consider the "5
R's": Refuse, Reduce, Reuse, Repurpose, and then Recycle.
</p> <%- include('./partials/button.ejs') %> </article>
   </div>
   <div class="lessons"> 
    <article> 
    <h2>MANUAL WASTE RECYCLING</h2>
    <p>Manual waste recycling involves physically sorting and
separating different materials from mixed waste streams
to prepare them for reuse or reprocessing into new
products. This process often occurs at sorting plants
where operators manually remove specific materials like
paper,  Recycling benefits the environment, the economy, and
the community. Common recyclable materials include paper,
plastic, glass, and metal. The general process involves
collection, processing, and manufacturing new products from
recycled materials. The 5 R's: Before recycling, consider the "5
R's": Refuse, Reduce, Reuse, Repurpose, and then Recycle.
</p> <%- include('./partials/button.ejs') %> </article> <div class="teach-ill">
   <img class="lasimg" src="../images/workplace.png" alt="" srcset="">
  </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %>